body {
    margin: 0;
    padding: 0;
    background-color: #D5E2EF;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);

    h2 {
        color: #333;
    }

    a {

        text-decoration: none;
        font-weight: bold;
        color: #333;
    }
}