@media screen and (min-width: 320px) and (max-width:450px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    main {

        .card {
            width: 100%;

            .cardInfo {
                h2 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }

    footer {
        
        p {
            margin: 0;
            font-size: 12px;
        }
    }
}